@import "nav.css";
 @import "agrupamento.css";
 @import "teaMounth.css";
 @import "location.css";
 @import "rodape.css";
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 0.9;
}
body{
    background-color: black;
    height: 100vh;
}
header{
    position: fixed;
}
main{
    display: flex ;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
